:root .theme_dark {
  --main-font: "IBM Plex mono";
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --heading-color: #db00ff;
  --text-size: 18px;
}

.theme_dark .header__decoration {
  display: block;
}

.theme_dark .header__theme-menu-button {
  color: var(--accent-color, #ff0070);
}

.theme_dark .header__theme-menu-button:hover {
  border: 1px solid rgb(255 0 112 / 0.4);
}

.theme_dark .header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color, #ff0070);
}

.theme_dark .header__theme-menu-button_active {
  border: 1px solid var(--accent-color, #ff0070);
}

.theme_dark .title-decor {
  color: var(--bg-color, #000028);
}

.theme_dark .content__title {
  color: var(--accent-color, #ff0070);
}

.theme_dark .decorated-zone::after {
  border-inline-end: 1px solid var(--accent-color, #ff0070);
  border-block-start: 1px solid var(--accent-color, #ff0070);
}

.theme_dark .decorated-zone::before {
  border-inline-start: 1px solid var(--accent-color, #ff0070);
  border-block-end: 1px solid var(--accent-color, #ff0070);
}

.theme_dark.page {
  background-image: url(../images/cover-image-dark.png);
}
