:root .theme_light {
  --bg-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --heading-color: #ffc2e6;
}

.page.theme_light {

}

.theme_light.page {
  background-color: var(--bg-color, #fff1f7);
  background-image: url(/images/cover-image-light.png);
}

.theme_light .header::after {
  border-inline-end: 1px solid var(--text-color, #353430);
  border-block-start: 1px solid var(--text-color, #353430);
}

.theme_light .header::before {
  border-inline-start: 1px solid var(--text-color, #353430);
  border-block-end: 1px solid var(--text-color, #353430);
}

.theme_light .header__main-heading {
  color: var(--heading-color, #ffc2e6);
  text-shadow: 4px 4px 0 #FF0070;
}

.theme_light .header__decoration {
  display: none;
}

.theme_light .header__theme-menu-button {
  color: var(--text-color, #353430);
}

.theme_light .header__theme-menu-button:hover {
  border: 1px solid var(--text-color, #353430);
}

.theme_light .header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--text-color, #353430);
}

.theme_light .header__theme-menu-button_active {
  border: 1px solid var(--text-color, #353430);
}

.theme_light .content__title {
  color: var(--text-color, #353430);
}

.theme_light .content__paragraph {
  color: var(--text-color, #353430);
}

.theme_light .content__link {
  color: var(--text-color, #353430);
  text-shadow: 1.5px 1.5px 0 var(--accent-color, #ff8dcb);
}

.theme_light .content__link:hover {
  border-block-end: 1px solid var(--text-color, #353430);
}

.theme_light .content__link:focus-visible {
  outline: 1px solid var(--text-color, #353430);
}

.theme_light .title-decor {
  color: var(--text-color, #353430);
  background: var(--accent-color, #ff8dcb);
}

.theme_light .footer__heading {
  color: var(--heading-color, #ffc2e6);
  text-shadow: 2px 2px 0 #FF0070;
}

.theme_light .footer::after {
  border-inline-end: 1px solid var(--text-color, #353430);
  border-block-start: 1px solid var(--text-color, #353430);
}

.theme_light .footer::before {
  border-inline-start: 1px solid var(--text-color, #353430);
  border-block-end: 1px solid var(--text-color, #353430);
}

@media (prefers-color-scheme: light) {

  :root {
    --bg-color: #fff1f7;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --heading-color: #ffc2e6;
  }

  .page {
    background-color: var(--bg-color, #fff1f7);
    background-image: url(/images/cover-image-light.png);
  }

  .header::after {
    border-inline-end: 1px solid var(--text-color, #353430);
    border-block-start: 1px solid var(--text-color, #353430);
  }

  .header::before {
    border-inline-start: 1px solid var(--text-color, #353430);
    border-block-end: 1px solid var(--text-color, #353430);
  }

  .header__main-heading {
    color: var(--heading-color, #ffc2e6);
    text-shadow: 4px 4px 0 #FF0070;
  }

  .header__decoration {
    display: none;
  }

  .content__title {
    color: var(--text-color, #353430);
  }

  .content__paragraph {
    color: var(--text-color, #353430);
  }

  .content__link {
    color: var(--text-color, #353430);
    text-shadow: 1.5px 1.5px 0 var(--accent-color, #ff8dcb);
  }

  .content__link:hover {
    border-block-end: 1px solid var(--text-color, #353430);
  }

  .content__link:focus-visible {
    outline: 1px solid var(--text-color, #353430);
  }

  .title-decor {
    color: var(--text-color, #353430);
    background: var(--accent-color, #ff8dcb);
  }

  .header__theme-menu-button {
    color: var(--text-color, #353430);
  }

  .header__theme-menu-button_active {
    border: 1px solid var(--text-color, #353430);
  }

  .header__theme-menu-button:hover {
    border: 1px solid var(--text-color, #353430);
  }

  .header__theme-menu-button:focus-visible {
    border-block-end: 1px solid var(--text-color, #353430);
  }

  .footer__heading {
    color: var(--heading-color, #ffc2e6);
    text-shadow: 2px 2px 0 #FF0070;
  }

  .footer::after {
    border-inline-end: 1px solid var(--text-color, #353430);
    border-block-start: 1px solid var(--text-color, #353430);
  }

  .footer::before {
    border-inline-start: 1px solid var(--text-color, #353430);
    border-block-end: 1px solid var(--text-color, #353430);
  }
}
